cloudpickle
click
importlib-metadata==4.5.0
joblib==1.0.1
lightgbm
matplotlib
numpy>=1.13
pandas>=0.19.2
pyqt5
python-dateutil==2.8.1
pytz==2021.1
ramp-workflow @ git+https://github.com/paris-saclay-cds/ramp-workflow.git@212720ff677985f57a0f26e073df9bad6dc5c9c0
six==1.16.0
scikit-learn>=0.22
scipy>=1.5.4
threadpoolctl==2.1.0
torch>=1.9.0+cpu
torchaudio==0.9.0
torchvision>=0.10.0+cpu
tqdm
typing-extensions==3.10.0.0
zipp==3.4.1
