cloudpickle
click
importlib-metadata==4.5.0
joblib==1.0.1
lightgbm==2.3.1
matplotlib
numpy==1.19.5
pandas==1.1.5
pyqt5
python-dateutil==2.8.1
pytz==2021.1
ramp-workflow @ git+https://github.com/paris-saclay-cds/ramp-workflow.git@212720ff677985f57a0f26e073df9bad6dc5c9c0
six==1.15.0
scikit-learn==0.22
scipy>=1.5.4
tensorflow-cpu>=2.5
threadpoolctl==2.1.0
tqdm
typing-extensions==3.7.4
zipp==3.4.1
